---
---

body {
    background: #FFFCF8
}

$pad : 2em;
$serif : Georgia, Times, serif;
$sans-serif : Open Sans, Arial, sans-serif;

@import "rip", "base", "splashground", "bodystyles", "tester", "footer", "media_queries"