body, html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #3E548D;
    letter-spacing: 0.1em;
}

.container {
    position: relative;
    background: #FFFCF8;
    line-height: 1.7;

    box-shadow: 0 -0.3em 2em #000;
    border-top: 1px solid #000;
    z-index: 10;
}

.text-right {
    text-align: right;
}