.container {
    min-height: 60%;

    & .main {

        & .download-bar {
            background: #111;
            background-image: url(../images/pattern.png);
            box-shadow: 0 0.1em 0.2em #000;
            border-bottom: 1px solid #000;
            font-family: $title-font;

            & .inner {
                max-width: 62.5rem;
                margin: 0 auto;
                padding: $pad;
                text-align: left;
            }
            & a.github-reference {
                padding: 1em;
                border-radius: 5em;
                white-space: nowrap;

                background: #030303;
                color: #CCCCCC;

                box-shadow: 0 0 0.2em #000;
                text-decoration: none;
                transition: background 200ms;
                & img {
                    width: 2em;
                    vertical-align: middle;
                    padding-bottom: 0.2em;
                    padding-right: 0.5em;
                }
                &:hover {
                    background: #000;
                    box-shadow: 0 0 0.5em #000;
                }
            }
        }


        & article.body {
            max-width: 1000px;
            margin: 0 auto;
            padding: $pad;
            font-family: $sans-serif;

            h1, h2, h3 {
                font-family: $title-font;
                font-weight: thin;
            }

            & .focus-block {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 3rem;

                .image, .text {
                    flex: 1;
                }
                .image {
                    margin: auto 0;
                    & img {
                        width: 100%;
                    }
                }
                .text {
                    margin: auto 2rem;
                }
            }

            & .prose-block {
                margin: 0 auto;
                margin-bottom: 2rem;
                width: 75%;

                & p {
                    margin-bottom: 1.2rem;
                }
                & img.demo {
                    width: 100%;
                    max-width: 42rem;
                    margin: 0 auto;
                    box-shadow: 0.2em 0.4em 1em #555;
                }
            }
        }
    }
}
