.container {
    min-height: 60%;

    & .main {

        .callout-block {
            font-family: $title-font;
            padding: 1rem 0 6rem 0;
            text-align: center;
            line-height: 2.7;

            span.big-arrow {
                font-size: 500%;
                color: #B7B7B7;
                vertical-align: -0.8rem;
                padding: 0 1rem;
                line-height: 0;
                pointer-events: none;
            }

            #callout-link {
                display: inline-block;
                font-size: 160%;
                font-weight: lighter;
                text-decoration: none;
                color: #F0F7FF;
                background: #145CA5;
                padding: 0.2em 2em;
                border-radius: 5em;
                border: 1px solid #6370C7;
                box-shadow: 0 0.2rem 0.2em #C3C3C3;
            }

            & a.github-reference {
                font-size: 80%;
                padding: 1em;
                border-radius: 5em;
                white-space: nowrap;

                background: #030303;
                color: #CCCCCC;

                box-shadow: 0 0 0.2em #000;
                text-decoration: none;
                transition: background 200ms;
                & img {
                    width: 2em;
                    vertical-align: middle;
                    padding-bottom: 0.2em;
                    padding-right: 0.5em;
                }
                &:hover {
                    background: #000;
                    box-shadow: 0 0 0.5em #000;
                }
            }
        }


        & article.body {
            max-width: 80rem;
            margin: 0 auto;
            padding: $pad;
            font-family: $sans-serif;

            h1, h2, h3 {
                font-family: $title-font;
            }

            & .focus-block {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 3rem;

                .image, .text {
                    flex: 1;
                }
                .image {
                    margin: auto 0;
                    & img {
                        width: 100%;
                    }
                }
                .text {
                    margin: auto 2rem;
                }
            }

            & .prose-block {
                margin: 0 auto;
                margin-bottom: 2rem;
                width: 75%;

                & p {
                    margin-bottom: 1.2rem;
                }
                & img.demo {
                    display: block;
                    width: 100%;
                    max-width: 42rem;
                    margin: 3rem auto;
                    box-shadow: 0.2em 0.4em 1em #555;
                }
            }
        }
    }
}
