@media screen and (max-width: 30rem) {
    header.splashground {
        position: relative;
        .title {
            z-index: 2;
            & p.tagline {
                text-indent: 0;
            }
        }
    }
    .container .main article.body {
        & h1.headline {
            font-size: 150%;
        }
        & .focus-block {
            flex-direction: column;
            & .text {
                margin: 1rem 0;
            }
        }
        & .prose-block {
            width: 100%;
        }
    }

    .container .main .download-bar {
        font-size: 80%;
    }

    .tester-box {
        flex-direction: column;
        & .click-target {
            padding: 1rem 0;
            margin: 1rem 0;
        }
    }

    a.download-button {
        display: block;
        text-align: center;
        text-indent: -1rem;
    }
}

@media screen and (max-width: 42.5rem) {
    body {
        font-size: 0.85em;
        // text-align: center !important;
        .title h1 {
            font-size: 300% !important;
        }
    }
    .container .main article.body {
        & h1.headline {
            font-size: 210%;
        }
        & .bar-section {
            margin: 2.5rem 0;
        }
    }
    span[hs] {
        display: none !important;
    }
    a.github-reference img {
        text-align: left;
        padding: 0 !important;
    }
    a.download-button img {
        padding: 5px 2px;
    }

    footer .creds, footer .owner {
        float: none;
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
    }
}
