@media screen and (max-width: 425px) {
    body {
        font-size: 0.85em;
        text-align: center !important;
        .title h1 {
            font-size: 270% !important;
        }
    }
    span[hs] {
        display: none !important;
    }
    a.github-reference img {
        padding: 0 !important;
    }
    a.download-button img {
        padding: 5px 2px;
    }

    .bar-section {
        & .text {
            display: block !important;
            margin: 0 auto;
            text-align: justify;
        }
        & img.display {
            display: block !important;
            margin: 0 auto !important;
            &.right { float: none !important; }
            &.left  { float: none !important; }
        }
    }
}