header.splashground {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 0;

    position: relative;
    background: #15161A;
    background-image: url(../images/splash.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    text-align: center;

    z-index: 1;

    .title {
        position: relative;
        top: 2rem;
        text-align: center;
        color: #DDDBD0;

        background: #111; // Fallback for non-rgba supporting browsers
        background: rgba(0, 0, 0, 0.8);

        padding: $pad 0;
        & h1 {
            font-size: 580%;
            line-height: 80%;
            font-family: Vladimir Script, Lato, $serif;
            font-weight: 200;
        }
        & .tagline {
            opacity: 0.9;
            font-family: $title-font;
            font-style: italic;
        }
    }
}
