.tester-box {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;

    & .click-target {

        $main-color: #D9E9F9;

        padding: 6rem 4rem;
        margin: 0 1rem 0 0;

        text-align: center;
        font-weight: bold;
        font-family: $title-font;
        color: #2D2D2D;

        cursor: pointer;
        background: lighten($main-color, 5%);
        border: 1px solid darken($main-color, 20%);
        border-radius: 0.3rem;

        opacity: 0.8;
        transition: background 100ms;

        &:hover {
            background: $main-color;
        }

        &:active {
            background: darken($main-color, 10%);
        }
    }

    & .click-info-clear {
        cursor: pointer;
        float: right;

        color: #6F6F6F;
        letter-spacing: normal;
        text-decoration: underline;
        font-size: 70%;
    }

    & .click-log {
        flex: 1;
        border-left: 2px solid #222;
        padding: 0 1rem;

        & .click-info {
            font-size: 80%;
            max-height: 12rem;
            overflow-y: auto;
        }

    }
}
